<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Gun Violence in the United States</title>
  </head>
  <body class="d-flex flex-column">
        <div id="page-content">
        
            <nav class="navbar navbar-expand-sm navbar-dark">
                <a class="navbar-brand" href="/">Gun Violence in the USA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto ">
                            
                        <li class="nav-item">
                          <a class="nav-link active" href="/interactive_chart">Factors Chart</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="/maps">Map of Incidents</a>
                        </li>
    
                        <li class="nav-item">
                          <a class="nav-link" href="/benchmark">Laws Benchmark</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/wordcloud">Word Cloud</a>
                        </li>
                    </ul>
                </div>
              </nav>
              
              <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box">
                            <h1>What factors affect incidence of gun violence?</h1>
                            
                            <br>
                            <div id="scatter">
                                <!--  chart here. -->
                              </div>
                             <br>
                            <p>The chart above examines how factors such as number of gun laws, median income, and population may affect the number of incidents of gun violence per state. Each plot point represents the number of gun violence incidents in a state reported for a year.</p>
                            <p>There does not appear to be a clear relationship at state level between the number of gun laws versus incidents, nor does the state median income show an obvious effect on number of incidents. However, this dataset shows gun violence incidents clearly increase with state population size. Also, the chart shows the overall number of gun violence incidents increasing from 2014-2017.</p>
                            
                        </div>
                    </div>
                </div>
            </div>


        </div><!-- end #page-content -->

        <!-- Footer -->
        
        <footer id="sticky-footer" class="py-4 text-white-50">
            <div class="container text-center">
                <small>Gun Incident data from <a href='https://www.kaggle.com/jameslko/gun-violence-data' target="_blank">Kaggle</a> accessed 06/07/2019</small>
            </div>
        </footer>

        
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	  
	  <!-- leaflet, d3 -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script type="text/javascript" src="https://leafletjs.com/examples/choropleth/us-states.js"></script>
      
    <script type="text/javascript" src="/static/js/config.js"></script>

    <!-- Marker Cluster JS & CSS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    
    
    
    <!-- JS -->
    <script type="text/javascript" src="/static/js/app.js"></script>
  </body>
</html>